doctype html
head 
  include test.pug
body
  nav.navbar.fixed-top.navbar-expand-sm.border-bottom.justify-content-center
    .container-fluid
      a.navbar-brand.d-flex.align-items-center.col-md-4.mb-2.mb-md-0.text-decoration-none(href='index')
        img(src='./img/LOGO.png', width='135px', height='60px', alt)
      button.navbar-toggler.collapsed(type='button', data-target='#navbars', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
          svg.bi.bi-justify(xmlns='http://www.w3.org/2000/svg', width='20', height='20', fill='currentColor', viewBox='0 0 16 16')
            path(fill-rule='evenodd', d='M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z')
      .navbar-collapse#navbars
        ul.navbar-nav.me-auto.text-black.text-decoration-none
          li.nav-item.fs-3.mt-3
            a.nav-link.px-2.link-dark.ms-5#homeNav(href='indexG') Home
          li.nav-item.dropdown.fs-3.mt-3
            a#workOutNav.nav-link.dropdown-toggle.border-0.px-1.link-dark.ms-5(type='button', aria-expanded='false') Workout
            ul#workOutMenu.dropdown-menu(aria-labelledby='workOutNav')
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Fullbody')") Fullbody
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Shoulders')") Shoulders
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Abs')") Abs
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Arms')") Arms
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Chest')") Chest
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Back')") Back
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Thing')") Thing
              li
                a.dropdown-item(href='workoutG' onclick="getPose('Butt')") Butt
         
          li.nav-item.fs-3.mt-3
            a.nav-link.link-dark.ms-5#aboutUsNav(href='aboutG') About Us
          li.nav-item.dropdown.fs-3.mt-3
            a#inforNav.nav-link.dropdown-toggle.border-0.px-1.link-dark.ms-5(type='button', aria-expanded='false') Information
            ul#inforMenu.dropdown-menu(aria-labelledby='inforNav')
              li
                a.dropdown-item.btn#inforSign(data-toggle='modal', data-bs-target='#smallPageModal') Sign In
 
  //  ---------------------------Signun/Signout------------------------------ 
  .smallPage.modal.fade.d-grid#smallPageModal(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false', data-bs-keyboard='false', aria-hidden='true')
    .smallPage.modal.fade.d-grid#smallPageModal(tabindex='-1', role='dialog', data-keyboard='false', data-bs-keyboard='false', aria-hidden='true', style='z-index: -1;')
      .modal-dialog
        .modalContainer.modal-content
          .logo.row.modal-header
            a.col.me-auto#logoImg(href='indexG')
              img(src='./img/LOGO.png', width='150px', height='70px', alt)
            button.btn.col-auto#closeBtn(type='button', data-dismiss='modal', aria-label='Close')
              img#closeBtnImg(src='./img/close_g2.png', width='30px', height='40px', alt)
          //  <---------------------------------signinDiv------------------------------
          .inputForm5.modal-body
            form(action = "" method = "POST")
              .input-group-lg.mb-3
                h2 Let's workout together!
              .input-group-lg.mb-3
                input.form-control#yourAccount(type='text', placeholder='    | Account')
              .input-group-lg.mb-3
                input.form-control#yourPass(type='password', placeholder='    | Password')
            .signInDiv.modal-footer
              p By creating an account, you agree to planFit's Private policy and Terms of us
              button.btn.btn-lg#signInBtn(data-dismiss='modal', aria-label='Close', onclick="getUser()") Sign In
              p
                | Not a member yet?
                button.btn#joinUs(href, data-mdb-target='#inputFormID1', data-mdb-toggle='modal', data-mdb-dismiss='modal') Join Us
          //  <---------------------------------signUpDiv1------------------------------  
          .inputForm2.modal-body
            form(action="addUser")
              .mb-3
                h1 Which part should you focus on?
              .row#focusbtn(role="group")
                .form4Btn.gap-1.col-6#focusOptions
                  input.btn-check#signUpFullB(type='checkbox', name='focusOptions', autocomplete='off',value='Full body')
                  label.btn(for='signUpFullB') Full Body
                  input.btn-check#signUpShou(type='checkbox', name='focusOptions', autocomplete='off',value='Shoulder')
                  label.btn(for='signUpShou') Shoulder
                  input.btn-check#signUpBack(type='checkbox', name='focusOptions', autocomplete='off',value='Back')
                  label.btn(for='signUpBack') Back
                  input.btn-check#signUpThign(type='checkbox', name='focusOptions', autocomplete='off',value='Thigh')
                  label.btn(for='signUpThign') Thigh
                .form4Btn.gap-1.col-6#focusOptions
                  input.btn-check#signUpArm(type='checkbox', name='focusOptions', autocomplete='off',value='Arm')
                  label.btn(for='signUpArm') Arm
                  input.btn-check#signUpChest(type='checkbox', name='focusOptions', autocomplete='off',value='Chest')
                  label.btn(for='signUpChest') Chest
                  input.btn-check#signUpAbs(type='checkbox', name='focusOptions', autocomplete='off',value='Abs')
                  label.btn(for='signUpAbs') Abs
                  input.btn-check#signUpButt(type='checkbox', name='focusOptions', autocomplete='off',value='Butts')
                  label.btn(for='signUpButt') Butts
            .nextDiv3.modal-footer
              p By creating an account, you agree to planFit's Private policy and Terms of us
              button.btn.btn-lg#nextBtn Next
              p
                | Already a member?
                button.btn#signInBack Sign In
          //  <---------------------------------signUpDiv2------------------------------  
          .inputForm1.modal-body#inputFormID1
            form(action="addUser")
              .input-group-lg.mb-3
                h3 Welcome to join us
              .input-group-lg.mb-3
                input.form-control#signUpEmail(type='email', placeholder='    | Email Address(account)')
              .input-group-lg.mb-3
                input.form-control#signUpName(type='text', placeholder='    | Name')
              .input-group-lg.mb-3
                input.form-control#signUpPass(type='password', placeholder='    | Password')
              .input-group-lg.mb-3
                input.form-control#signUpBirth(type='date', placeholder='    | Date of birth')
              .btn.mb-3#sex
                input.btn-check#signUpFemale(type='checkbox', name="sex", autocomplete='off',value="Female")
                label.btn(for='signUpFemale') Female
                input.btn-check#signUpMale(type='checkbox', name="sex", autocomplete='off',value="Male") 
                label.btn(for='signUpMale') Male
            .nextDiv.modal-footer
              p By creating an account, you agree to planFit's Private policy and Terms of us
              button.btn.btn-lg#nextBtn3() Next
              p
                | Already a member?
                button.btn#signInBack Sign In
          //  <---------------------------------signUpDiv3------------------------------  
          .inputForm3.modal-body
            form(action="addUser")
              .mb-3
                h1 What do you need?
              .form3Btn.d-grid.gap-1#needOptions(role="group")
                input.btn-check#loseWei(type='checkbox', name='needOptions', autocomplete='off',value='Lose weight')
                label.btn(for='loseWei') Lose weight
                br
                input.btn-check#gainMus(type='checkbox', name='needOptions', autocomplete='off',value='Gain muscle')
                label.btn(for='gainMus') Gain muscle
                br
                input.btn-check#getFit(type='checkbox', name='needOptions', autocomplete='off',value='Get fitter')
                label.btn(for='getFit') Get fitter
            .nextDiv2.modal-footer
              p By creating an account, you agree to planFit's Private policy and Terms of us
              button.btn.btn-lg#nextBtn2 Next
              p
                | Already a member?
                button.btn#signInBack Sign In
          //  <---------------------------------signUpDiv3------------------------------  
          .inputForm4.modal-body
            form(action="addUser")
              .input-group-lg.mb-3
                input.form-control#yourHeight(type='number', placeholder='    | Height(cm)')
              .input-group-lg.mb-3
                input.form-control#yourWeight(type='number', placeholder='    | Weight(kg)')
              .input-group-lg.mb-3
                input.form-control#yourAge(type='number', placeholder='    | Age')
            .signUpDiv.modal-footer
              p By creating an account, you agree to planFit's Private policy and Terms of us
              button.btn.btn-lg#signUpBtn(data-dismiss='modal', aria-label='Close',onclick="addUser()") Sign Up
              p
                | Already a member?
                button.btn#signInBack Sign In
    //----------------------------------------
  .workOutModal.modal.fade.d-grid#workoutModalIDdiv(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false', data-bs-keyboard='false', aria-hidden='true')
    .workOutModal.modal.fade.d-grid#workoutModalID(tabindex='-1', role='dialog', data-keyboard='false', data-bs-keyboard='false', aria-hidden='true', style='z-index: -1;')
        .modal-dialog
          .workOutModal.modal-content
            .logo.row.modal-header
              a.col.me-auto#logoImg(href='indexG')
                img(src='./img/LOGO.png', width='150px', height='70px', alt)
              button.btn.col-auto#closeBtnWorkoutImg(type='button', data-dismiss='modal', aria-label='Close')
                img#closeBtnImg(src='./img/close_g2.png', width='30px', height='40px', alt)
              //  <---------------------------------signinDiv------------------------------
            .modal-body
              h1#how How to do it?
              p#des
            .workoutFooter.modal-footer
                button.btn.btn-lg#closeBtnWorkout( data-mdb-target='#workoutModalID', data-mdb-toggle='modal', data-mdb-dismiss='modal') Close

