doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='javascripts/login.js')
    script(src='javascripts/folder.js')
    title PlainFit
    link(rel='icon' href='/img/LOGO_icon.png' type='image/x-icon')
    // JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/javascript.js')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/aboutus.css')
    link(rel='stylesheet', href='stylesheets/index.css')

  body 
    include includes/navigationG
    .page
      .content
        .row.introAll1
          .card-header#aboutWeb 關於PlanFIT
          .col-sm-4
            img#about_logo_pic(src='img/LOGO_icon.png', alt='card img')
          .col-sm-8.aboutWeb_li
            ol.card-text
              li 推薦每日動作、呈現會員的預排行程
              li 網站所有的動作、可將動作加入File或是排入行程
                br 
                |、可以搜尋動作
              li 會員可以聯絡我們，提供意見
              li 製作網站的每人分工
              li 會員可以更改個人資料、管理所有File
              li 可以登入登出，如果還沒會員也可以加入會員
        .row.introAll2
          .card-header#about_sb 成員介紹
          .col-sm-6
            .intro
              .card
                .card-header#n1 江若仙
              .row
                .col-sm-4
                  img.profile-pic(src='img/aboutus/winny.jpg', alt='card img', height='200px')
                .col-sm-8
                  h5.card-title.about 簡介：
                  ol.card-text
                    li 組長(安排作業進度)
                    li 程式碼編寫(主要：Information的Edit、Home、Workout、重整程式碼、測試並找bug)
                    li 查資料
                    li 口頭報告
            .intro
              .card
                .card-header#n2 蔡易辰
              .row
                .col-sm-4
                  img.profile-pic(src='img/aboutus/abby.jpg', alt='card img', height='200px')
                .col-sm-8
                  h5.card-title.about 簡介：
                  ol.card-text
                    li 程式碼編寫(主要：Workout、日曆功能)
                    li 網頁介面設計、排版
                    li 查資料
                    li word製作
          .col-sm-6
            .intro
              .card
                .card-header#n3 張舒涵
              .row
                .col-sm-4
                  img.profile-pic(src='img/aboutus/hannah.jpg', alt='card img', height='200px')
                .col-sm-8
                  h5.card-title.about 簡介：
                  ol.card-text
                    li 程式碼編寫(主要：Folder功能、Home、About us)
                    li 查資料
                    li word製作
            .intro
              .card
                .card-header#n4 裴氏瓊如
              .row
                .col-sm-4
                  img.profile-pic(src='img/aboutus/cadie.jpg', alt='card img', height='200px')
                .col-sm-8
                  h5.card-title.about 簡介：
                  ol.card-text
                    li 程式碼編寫(主要：網站架構、Navigation、Sign in\Log out功能、Contact Us)
                    li 查資料
                    li PPT製作
