doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PlainFit
  link(rel='icon' href='/img/LOGO_icon.png' type='image/x-icon')
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  link(rel='stylesheet' href='stylesheets/style.css')
  link(rel='stylesheet' href='stylesheets/cal_folder.css')
  link(rel='stylesheet' href='stylesheets/workout.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  // JavaScript Bundle with Popper
  //- script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/e45ac9a14a.js' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type='javascript' src='javascripts/login.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/e45ac9a14a.js' crossorigin='anonymous')
  script(src='javascripts/folder.js')

include includes/navigation
.page.container
  div    
    .card-group.card_row.text-center.totalPose
      #find_div
        input#findtxt(type='text')
        input#find(type='button', name='find', value='find')
  // -----------------加入資料夾---------------------
  .smallPage.modal.fade.d-grid#smallPageModal_folder_workout(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false', data-bs-keyboard='false', aria-hidden='true', style='z-index: -1;')
    #allfolder.modal-dialog.modal-dialog-scrollable(style='max-height: 70%;')
      //  ---------------------------------所有文件夾------------------------------
      .modal-content.folder_w#folder_w
        .modal-header
          .input-group-lg
            h1 Your folder
          .input-group-lg.mb-1s
            button.btn.col-auto.me-auto#closeBtnfolder_workout(type='button', data-dismiss='modal', aria-label='Close')
              img(src='./img/close_r.png', width='30px', height='40px')
        .modal-body
          #all_fol_w
          .modal-footer
            .input-group-lg.mb-3.d-flex.flex-row.add_folder.position-relative
              p Add folder
              input#yourfolder_w(type='text', placeholder='  | folder name')
              img#add_fol_w(src='img/add.png', alt)
  // -----------------月曆表格-----------------
  #calendar_win.table-responsive-sm
    img#calender_close(src='img/close_g2.png')
    table#calender_table
      thead.color
        tr
          th.border-color(colspan='7')
            // <h4 id="cal-year">December ,2020</h4>
            #Date
              i.glyphicon.glyphicon-menu-left.icon_btn(onclick='previousMonth();')
              h3#cal-month December ,2020
              i.glyphicon.glyphicon-menu-right.icon_btn(onclick='nextMonth();')
        tr
          th.weekday.border-color Sun
          th.weekday.border-color Mon
          th.weekday.border-color Tue
          th.weekday.border-color Wed
          th.weekday.border-color Thu
          th.weekday.border-color Fri
          th.weekday.border-color Sat
      tbody#home_table-body.border-color
        tr
          td#cal1.home_cal(onclick='' data-homecalid='1')
          td#cal2.home_cal(onclick='' data-homecalid='2') 1
          td#cal3.home_cal(onclick='' data-homecalid='3') 1
          td#cal4.home_cal(onclick='' data-homecalid='4') 1
          td#cal5.home_cal(onclick='' data-homecalid='5') 1
          td#cal6.home_cal(onclick='' data-homecalid='6') 1
          td#cal7.home_cal(onclick='' data-homecalid='7') 1
        tr
          td#cal8.home_cal(onclick='' data-homecalid='8') 1
          td#cal9.home_cal(onclick='' data-homecalid='9') 1
          td#cal10.home_cal(onclick='' data-homecalid='10') 1
          td#cal11.home_cal(onclick='' data-homecalid='11') 1
          td#cal12.home_cal(onclick='' data-homecalid='12') 1
          td#cal13.home_cal(onclick='' data-homecalid='13') 1
          td#cal14.home_cal(onclick='' data-homecalid='14') 1
        tr
          td#cal15.home_cal(onclick='' data-homecalid='15') 1
          td#cal16.home_cal(onclick='' data-homecalid='16') 1
          td#cal17.home_cal(onclick='' data-homecalid='17') 1
          td#cal18.home_cal(onclick='' data-homecalid='18') 1
          td#cal19.home_cal(onclick='' data-homecalid='19') 1
          td#cal20.home_cal(onclick='' data-homecalid='20') 1
          td#cal21.home_cal(onclick='' data-homecalid='21') 1
        tr
          td#cal22.home_cal(onclick='' data-homecalid='22') 1
          td#cal23.home_cal(onclick='' data-homecalid='23') 1
          td#cal24.home_cal(onclick='' data-homecalid='24') 1
          td#cal25.home_cal(onclick='' data-homecalid='25') 1
          td#cal26.home_cal(onclick='' data-homecalid='26') 1
          td#cal27.home_cal(onclick='' data-homecalid='27') 1
          td#cal28.home_cal(onclick='' data-homecalid='28') 1
        tr
          td#cal29.home_cal(onclick='' data-homecalid='29') 1
          td#cal30.home_cal(onclick='' data-homecalid='30') 1
          td#cal31.home_cal(onclick='' data-homecalid='31') 1
          td#cal32.home_cal(onclick='' data-homecalid='32') 1
          td#cal33.home_cal(onclick='' data-homecalid='33') 1
          td#cal34.home_cal(onclick='' data-homecalid='34') 1
          td#cal35.home_cal(onclick='' data-homecalid='35') 1
        tr
          td#cal36.home_cal(onclick='' data-homecalid='36') 1
          td#cal37.home_cal(onclick='' data-homecalid='37') 1
          td#cal38.home_cal(onclick='' data-homecalid='38') 1
          td#cal39.home_cal(onclick='' data-homecalid='39') 1
          td#cal40.home_cal(onclick='' data-homecalid='40') 1
          td#cal41.home_cal(onclick='' data-homecalid='41') 1
          td#cal42.home_cal(onclick='' data-homecalid='42') 1
          // 點class，讀屬性
    .All(type='button' name='btnAll' onclick='Alldialog();') All
    .Next(type='button' name='btnNext' onclick='Nextdialog();') Next
    // <button id="theme-portrait" type="button" name="button" class="font button color" onclick="opendialog();">All</button>
  // -----------------月曆表格新增記事-----------------
  #modal_block
    #modal_workout_name
      p workout name
    #modal_times
      input#input_num(type='number' name='' min='1')
      #times
        p times
    #modal_back
      p back
    #modal_OK
      p OK
    //--------------------------
  
script(src='javascripts/save_sth.js')
script(src='javascripts/calendar.js')
script(src='javascripts/javascript.js')
script(src='javascripts/workout.js')

script.
  let today = new Date(); //新增一個Date物件，命名為today
  let thisYear = today.getFullYear();
  let thisMonth = today.getMonth();
  let thisDate = today.getDate();
  updateDates();
  fillInMonth(thisYear, thisMonth, thisDate);
  $(document).ready(function()
  {
  $("div#smallPageModal").css('z-index', '-1');
  $(".page").css('z-index', '1000');
  $('a.folder').click(function () {
        console.log(1)
    })
  })

