* {
    font-family: "微軟正黑體";
}

#n1,#n2,#n3,#n4 {
    color: #F6F4E8;
    font-weight: bold;
    border-style: none;
    background-color: #82A3A3;
    padding: 15px;
    font-size: 25px;
}

.card-title{
    color: #82A3A3;
    font-weight: bolder;
    font-size: 20px;
}

li {
    list-style: none;
    color: #ffffff;
    font-weight: bold;
}

.col-sm-4,
.col-sm-8 {
    padding-top: 20px;
    padding-left: 30px;
}

.col-sm-8 {
    height: 300px;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    border-radius: 50%;
}

.card-text li {
    list-style-type: circle;
    color: #F6F4E8;
    font-size: 15px;
    font-weight: normal;
}
.intro{
    height: 250px;
}

