div.folder {
    background-color: #f3f1de;
    /* width: 50%; */
    /* padding: 5px; */
    /* margin: 0 auto; */
}
div.input-group-lg,
div.input-group-lg>h1 {
    color: #e5945f;
    /* text-align: left; */
    position: relative;
    font-weight: bold;
    text-align: center;
    /* left: 30%; */
}

.alr-folder {
    background-color: #ffffff;
    width: 90%;
    padding: 5px;
    margin: 3% auto;
    text-align: center;
}

div.alr-folder>p {
    color: #e5945f;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}

.add_folder {
    width: 90%;
    padding: 5px;
    margin: 3% auto;
    background-color: #e5945f;
}

div.add_folder>p {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

div.add_folder>input {
    width: 60%;
}

div.add_folder>img {
    position: absolute;
    right: 5%;
    top: 10px;
    width: 30px;
    cursor: pointer;
}

.fol-btn {
    width: 90%;
    padding: 5px;
    margin: 3% auto;
}

div.back-btn {
    background-color: #e5945f;
    color: #ffffff;
}

div.back-btn>p {
    margin: 5px;
}

div.addelse-btn {
    background-color: #bbccc4;
    color: #ffffff;
    position: absolute;
    right: 0;
}

div.addelse-btn>p {
    margin: 5px;
}

div.addelse-btn>img {
    margin: 5px;
    width: 20px;
}

#closeBtnfolder {
    position: relative;
    right: -55px;
}

.alr-folder>img {
    width: 45px;
}

.alr-folder>.close {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
div.action{
    background-color: #f6f4e8;
}
div.addfont>h1{
    color: #bacec1;
    position: relative;
    font-weight: bold;
    text-align: center;
}
div.add-btn{
    background-color: #bacec1;
    color: #f6f4e8;
}
div.add-btn>p {
    margin: 5px;
}