td:hover {
    background-color: #82A3A3;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#HOME_div {
    display: none;
    background-color: #f3f1de;
    width: 450px;
    height: 500px;
    /* margin: 0 auto; */
    position: absolute;
    top: 750px;
    left: 30%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
}

#HOME_div_close {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 400px;
    padding: 2px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    touch-action: manipulation;
}

#HOME_div_block {
    width: 80%;
    height: 60%;
    position: relative;
    left: 10%;
    top: 15%;
    overflow-y: scroll;
}

.HOME_item {
    width: 100%;
    height: 20%;
    background-color: white;
    margin: 10px 0px;
    border-radius: 4px;
    /*上下 左右*/
}

.HOME_item_name {
    float: left;
    color: #82A3A3;
    font-size: 25px;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 4%
}

.HOME_item_delete {
    float: right;
    color: #82A3A3;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    /* transition: 0.5s; */
    width: 10px;
    position: relative;
    left: -18px;
    top: -1px;
}

.HOME_item_update {
    float: right;
    color: #82A3A3;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    /* transition: 0.5s; */
    width: 16px;
    height: 16px;
    top: 39px;
    position: relative;
    /* left: -3px; */
    background-image: url("../img/write.png");
    background-size: cover;
}

#HOME_item_add {
    background-color: #bacec1;
    color: white;
    position: absolute;
    top: 80%;
    width: 40%;
    left: 30%;
    color: #f3f1de;
    height: 10%;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    padding: 1%;
    transition: 0.5s;
}

#HOME_model {
    display: none;
    background-color: #f3f1de;
    width: 450px;
    height: 250px;
    /* margin: 0 auto; */
    position: absolute;
    top: 750px;
    left: 30%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
}

#HOME_model_title {
    position: relative;
    top: 5%;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
    color: #bacec1;
}

#HOME_sth_add {
    background-color: #bacec1;
    color: white;
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    top: 20%;
    left: -10%;
    transition: 0.5s;
}

#HOME_sth_back {
    background-color: #bacec1;
    color: white;
    position: relative;
    float: left;
    width: 20%;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    top: 20%;
    left: 10%;
    transition: 0.5s;
}

#HOME_sth_input {
    padding: 10px;
    margin: 6px 10px;
    position: relative;
    left: 8%;
    top: 10%;
    width: 80%;
    height: 40px;
    border-radius: 5%;
    border-width: 0px;
    border-bottom: 1px solid #82A3A3;
    outline: none;
    transition: 0.5s;
    color: #82A3A3;
}

#HOME_sth_input:focus {
    color: #f3f1de;
    background-color: #82A3A3;
}

#HOME_sth_back:hover,
#HOME_sth_add:hover,
#HOME_item_add:hover {
    color: #52795e;
    background-color: #82A3A3;
    cursor: pointer;
}


/* .text-GreenLake {
    color: #82A3A3;
}
.see_times {
    float: right;
    color: #1D3124;
    position: relative;
    left: 10%;
}

#folder_win{
    display: none;
    background-color: #f3f1de;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 35%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    z-index: 5;
} */


/* #folder_win,
#calendar_win {
    display: none;
    background-color: #f3f1de;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 35%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    z-index: 5;
} */


/* #calendar_win {
    width: 50%;
    height: 110%;
    top: 60px;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    color: #f3f1de;
} */

#folder_close {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 400px;
    padding: 2px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}

#folder_workout_block {
    width: 80%;
    height: 60%;
    position: relative;
    left: 10%;
    top: 15%;
    overflow-y: scroll;
}


/* .folder_workout {
    width: 100%;
    height: 20%;
    background-color: white;
    margin: 10px 0px;
} */


/*上下 左右*/


/* .folder_name {
    float: left;
    color: #E59560;
    font-size: 30px;
    height: 100%;
}

.folder_name p,
.folder_add p,
#folder_title p,
#new_add p,
#times p {
    margin: 8px;
}

.folder_add,
#new_add {
    background-color: #E59560;
    float: right;
    font-size: 30px;
    color: white;
    font-weight: bold;
    height: 100%;
    text-align: center;
}

.folder_add {
    width: 18%;
}

#new_add {
    width: 16%;
}

#folder_new_block {
    background-color: #E59560;
    width: 90%;
    height: 12%;
    position: relative;
    left: 5%;
    top: 20%;
}

#folder_title {
    color: white;
    font-size: 20px;
    float: left;
    margin: 6px;
}

#new_name {
    padding: 10px;
    margin: 6px;
} */


/*------------------------------------------------日曆視窗---------------------------------------------*/

#cal_win {
    display: none;
    background-color: #f3f1de;
    width: 50%;
    height: 800px;
    margin: 0 auto;
    left: 25%;
    position: absolute;
    top: 100px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    z-index: 5;
    /* padding: 10px; */
}

#cal_close {
    width: 6%;
    position: absolute;
    left: 90%;
    top: 3%;
}

#calender_table,
#home_calender_table {
    margin: 20px auto;
    width: 80%;
    /*等比例縮放*/
    color: #82A3A3;
}

#check_btn {
    position: relative;
    width: 100%;
    height: 20%;
}

#cal_win h3 {
    margin: 0;
    padding: 1.5vw 3vw;
    font-size: 40px;
    /* font-weight: 500; */
    display: inline-block;
    color: #82A3A3;
}

#cal_win .weekday {
    font-size: large;
    padding: 8px 4px 10px;
    /*上右下左*/
    /*border-bottom: 1px solid #BACEC1 !important;*/
    background-color: #82A3A3;
    color: #f3f1de;
}

#cal_win tbody td {
    height: 5vw;
    width: 5vw;
    font-size: 1.5vw;
    font-weight: 500;
    vertical-align: top;
    padding: 0.5vw;
    border: 1px solid #82A3A3;
    transition: font-size 0.6s ease;
}

#cal_win tbody td:hover {
    font-size: 1.8vw;
}

#cal_win .icon_btn {
    font-size: 1.5vw;
}

#cal_win .icon_btn:hover {
    opacity: 0.6;
}

#cal_win {
    color: #f8f0ab;
}

.tooltip img {
    width: 3.8vw;
    vertical-align: top;
    position: relative;
    top: 0.5vw;
}

.important {
    background-color: #82A3A3;
    color: #f3f1de;
}

.not_important {
    background-color: #82a3a373;
}

.normal {
    background-color: #f3f1de;
}


/*-----------------------------------------------------*/

#All,
#Next {
    background-color: #82A3A3;
    color: #f3f1de;
    position: absolute;
    text-align: center;
    border-radius: 10%;
    padding: 8px 0;
    width: 15%;
    height: 40px;
}

#All {
    left: 15%;
}

#Next {
    left: 70%;
}

#All:hover,
#Next:hover {
    background-color: #f3fff7;
    color: #82A3A3;
}


/* #All {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: -34%;
    width: 12%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
}

#Next {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: 34%;
    top: -5%;
    width: 12%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
} */


/* .All {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: -34%;
    top: 3%;
    width: 12%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
}

.Next {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: 34%;
    top: -1.5%;
    width: 12%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
} */


/* .All {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: -180px;
    top: 20px;
    width: 120%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
}

.Next {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    left: 165px;
    top: -15px;
    width: 120%;
    padding: 8px 0;
    text-align: center;
    border-radius: 10%;
} */


/*---------------------------------------------按下Next的視窗--------------------------------------------*/


/* #modal_block {
    display: none;
    background-color: #f3f1de;
    width: 450px;
    height: 300px;
    position: absolute;
    top: 240px;
    left: 35%;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    z-index: 5;
} */


/* #modal_workout_name {
    position: relative;
    left: 10%;
    top: 15%;
    background-color: #ffffff;
    color: #82A3A3;
    font-size: 30px;
    width: 80%;
    height: 20%;
}

#modal_workout_name p {
    text-align: center;
    padding: 8px;
} */


/* #modal_times {
    position: relative;
    left: 25%; */


/* (100-width)/2 */


/* top: 30%;
    background-color: #ffffff;
    color: #82A3A3;
    font-size: 15px;
    width: 50%;
    height: 20%;
    margin: 10px 0px; */


/*上下 左右*/


/* } */


/* #input_num {
    padding: 10px;
    margin: 6px 10px;
    width: 50%;
    border-width: 0px; */


/*只留下邊界*/


/* border-bottom: 1px solid #52795e; */


/*輸入框的外圍*/


/* outline: none; */


/*按下輸入框不會有除了下邊界的線*/


/* transition: 0.5s; */


/*轉換過度效果*/


/* text-align: center; */


/* } */


/* #input_num:focus:hover { */


/*輸入時*/


/* background-color: #82A3A3;
    color: white;
} */


/* #times {
    background-color: #82A3A3;
    float: right;
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 40%;
    height: 100%;
    text-align: center;
}

#modal_back,
#modal_OK {
    background-color: #82A3A3;
    color: #f3f1de;
    position: relative;
    top: 35%;
    width: 15%;
    border-radius: 5px;
    text-align: center;
    height: 12%;
    padding: 8px 0;
}

#modal_back {
    float: left;
    left: 10%;
}

#modal_OK {
    float: right;
    left: -10%;
} */


/* ----------------------------------------------------------------------------- */

.margin_0_auto {
    margin: 0px auto;
}

.text-align_center {
    text-align: center;
}

#calendar_home {
    /* display: none; */
    /* width: 600px; */
    /* height: 600px; */
    top: 40px;
    left: 300px;
    align-items: center;
    /* 把div內的物件致中 */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* min-height: 100vh; */
}


/* #Date {
    background-color: #1D3124;
} */

#calendar_home h3 {
    margin: 0;
    padding: 1.5vw 3vw;
    font-size: 40px;
    /* font-weight: 500; */
    display: inline-block;
    color: #82A3A3;
    /* background-color:#82A3A3;*/
    /*debug用 */
}

#calendar_home .weekday {
    font-size: large;
    padding: 8px 4px 10px;
    /*上右下左*/
    /*border-bottom: 1px solid #BACEC1 !important;*/
    background-color: #82A3A3;
    color: #f3f1de;
}

#calendar_home tbody td {
    height: 8vw;
    /*格子大小*/
    width: 5vw;
    font-size: 1.5vw;
    font-weight: 500;
    vertical-align: top;
    padding: 0.5vw;
    border: 1px solid #82A3A3;
    transition: font-size 0.6s ease;
}

#calendar_home tbody td:hover {
    font-size: 1.8vw;
}

#calendar_home .icon_btn {
    font-size: 1.5vw;
}

#calendar_home .icon_btn:hover {
    opacity: 0.6;
}

#calendar_home #current-day {
    background-color: #82A3A3;
    color: #f3f1de;
}

.homeControls_btn {
    background-color: #52795e;
}


/* 幻燈片 */

#carousel {
    width: 100%;
    /* border:1px solid #222; */
    height: 450px;
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 20px 0;
}

#carousel img {
    width: 63%;
    visibility: hidden;
    /* hide images until carousel can handle them */
    cursor: pointer;
    /* otherwise it's not as obvious items can be clicked */
}

#callback-output {
    width: 100%;
    min-height: 50px;
    background: #fff;
    padding: 8px;
    height: 500px;
    overflow-y: scroll;
}

.home_cal {
    height: 30%;
}

.HOME_cal {
    height: 30%;
}

#pose_name {
    width: 500px;
    font-size: 30px;
    position: relative;
}