.container {
    width: 800px;
    margin: 0 auto;
    position: relative;
    left: 55px;
}

.col {
    width: 100%;
    padding-bottom: 10px;
    color: #3e5a46;
}

.infor_txt {
    width: 35%;
    text-align: right;
    font-size: 20px;
    float: left;
    padding-right: 10px;
}

.infor_txt>p {
    width: 100%;
}

.infor_data {
    font-size: 20px;
    /* float: right; */
    width: 950px;
}

#infor_headshot {
    border: 0px;
    border-radius: 100%;
    background-color: #f3f1de;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 20%;
}

.infor_focus>input,
.infor_need>input,
.infor_sex>input {
    width: 130px;
    background-color: white;
    color: #86c999;
}

.infor_OK {
    width: 300px;
    margin: 20px auto;
}

.infor_OK>button {
    width: 300px;
    height: 40px;
    font-size: 18px;
    background-color: #3e5a46;
    color: white;
}