html body {
    background-color: #BACEC1;
}

.page {
    margin-top: 100px;
}

nav.navbar,
button#workOutNav,
ul.dropdown-menu {
    background-color: #f3f1de;
}

.navbar-nav>li>a {
    margin-left: 27px;
}

.nav-link:hover,
#workOutNav:hover {
    text-decoration: none;
    background-color: #1D3124;
    color: white;
}

div#workoutModalIDdiv,
div#workoutModalID,
div#changePsModalDiv,
div#changePsModalID {
    margin: 0 auto;
    margin-top: 100px;
}

h1#how {
    margin-top: 0px;
}

div.modal-body {
    padding: 0 30px;
}

p#des {
    font-size: 18px
}

a.changePW {
    color: black;
    cursor: pointer;
    width: 300px;
}

button#closeBtnPs,
button#saveBtnPs {
    background-color: #1D3124;
    color: white;
    margin-top: 15px;
}

.PsModal.modal-content {
    background-color: #060e0d;
}